@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluA96rp57F2IwM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    max-width: 1366px;
    margin: auto;
    font-family: 'Bree Serif';
}

nav {
    height: 420px;
    position: fixed;
    width: 100px;
    z-index: 10;
    margin-left: 30px;
    top: 70px;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    color: #C96567;
}

nav ul li a:hover {
    background-color: #C96567;
    color: white;
}

.banner {
    background-image: url('img/banner.png');
    background-size: 100% 100%;
    display: table;
    width: 1366px;
}

.banner div {
    height: 786px;
    background-color: rgba(173, 204, 233, 0.6);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #314455;
}

.title{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

section {
    height: 786px;
    width: 1366px;
}

.content-profile {
    height: 786px;
    width: 750px;
    margin: auto;
}

.bio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 20px;
}

.bio img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.profile strong {
    font-size: 18px;
}

.card-profile {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    color: rgb(207, 221, 233);
    height: 170px;
    width: 750px;
}

.card-profile-img {
    height: 170px;
    width: 170px;
}

.card-profile-img img {
    height: 130px;
    width: 130px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-profile-content {
    grid-column: span 9;
    padding-left: 10px;
    padding-right: 10px;
}

.content-experience {
    height: 786px;
    width: 750px;
    margin: auto;
}

.card-experience-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 170px;
    width: 750px;
}

.card-experience-img-top {
    height: 170px;
    width: 375px;
}

.card-experience-img-top img {
    height: 130px;
    width: 200px;
    margin-top: 20px;
    margin-left: 90px;
}

.card-experience-content-top {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;
}

.card-experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 480px;
    width: 750px;
}

.card-experience-img {
    height: 170px;
    width: 100%;
}

.card-experience-content {
    margin: 20px;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
}

.icon {
    height: 50px;
    width: 50px;
}



.content-project-container {
    position: absolute;
    height: 786px;
    width: 1366px;
    background-color: rgba(22, 42, 59, 0.8);
}

.content-project {
    height: 786px;
    width: 800px;
    margin: auto;
    color: white;
}

.content-project-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 0px;
}

.content-project-img img{
    height: 200px;
    width: 200px;
}

.content-interest {
    width: 900px;
    margin: auto;
    text-align: center;
}

.img-interests {
    margin-top: 10px;
}

.img-interest {
    height: 140px;
    width: 140px;
    margin: 0;
    padding: 0;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* FF 35+ */
}

.img-interest:hover {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

.fa {
    width: 140px;
    text-align: center;
    text-decoration: none;
    padding: 40px 0px;
  }
  
.fa:hover {
      opacity: 0.7;
}

.fa-instagram {
    background: #9E5A63;
    color: white;
}

.content-contact {
    height: 786px;
    width: 750px;
    margin: auto;
    text-align: center;
}

.card-contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100px;
}

.card-contact img {
    height: 100px;
    width: 100px;
}

.card-contact p {
    padding-top: 20px;
    text-align: left;
    grid-column: span 4;
}

.footer {
    padding-top: 30px;
}

#fade-images {
    position:relative;
    height:786px;
    width:1366px;
    object-fit: cover;
}

#fade-images .top {
    height:786px;
    width:1366px;
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#fade-images .bottom {
    height:786px;
    width:1366px;
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#fade-images img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate;
}

.darkblue-bg {
    background-color: #314455;
    color: rgb(207, 221, 233);
}

.red-bg {
    background-color: #9E5A63;
    color: rgb(243, 226, 226);
}

.softred-bg {
    background-color: rgb(243, 226, 226);
    color: #644E5B;
}

.softblue-bg {
    background-color: rgb(207, 221, 233);
    color: #314455;
}