@font-face {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v9/4UaHrEJCrhhnVA3DgluA96rp57F2IwM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    max-width: 1366px;
    margin: auto;
    font-family: 'Bree Serif';
    color: #314455;
}

nav {
    background-color: #314455;
    height: 350px;
    position: fixed;
    width: 100px;
    z-index: 10;
    margin-left: 30px;
    top: 70px;
    text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    color: #C96567;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #C96567;
    color: white;
}

.banner {
    background-image: url('img/banner.jpg');
    background-size: 100% 100%;
    display: table;
    width: 1366px;
}

.banner div {
    height: 786px;
    background-color: rgb(207, 221, 233, 0.5);
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #314455;
}
.banner div strong {
    font-size: 80px;
}

.title{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

section {
    height: 786px;
    width: 1366px;
}

.profile {
    background-color: rgb(207, 221, 233);
}

.content {
    width: 750px;
    margin: auto;
}

.profile strong {
    font-size: 18px;
}

.bio {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 20px;
    grid-gap: 20px;
}

.bio-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.card {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    color: rgb(207, 221, 233);
    height: 170px;
    width: 750px;
}

.card-img {
    height: 170px;
    width: 170px;
}

.card-img-experience {
    height: 170px;
    width: 375px;
}

.card-content {
    grid-column: span 9;
    padding-left: 10px;
    padding-right: 10px;
}

.card-content-projects {
    grid-column: span 5;
    margin: 20px;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    color: rgb(207, 221, 233);
}

.content-interest {
    width: 900px;
    margin: auto;
    text-align: center;
}

.card-img-projects {
    height: 170px;
    width: 100%;
}

.icon{
    height: 50px;
    width: 50px;
}

.darkblue {
    background-color: #314455;
}

.darkred {
    background-color: #644E5B;
}

.red {
    background-color: #9E5A63;
}

.lightred {
    border-top: 2px solid #C96567;
    background-color: #C96567;
}

.grey {
    border-top: 2px solid rgb(207, 221, 233);
    background-color: rgb(207, 221, 233);
}

.experience {
    background-color: #644E5B;
    color: rgb(207, 221, 233);
}

.interest {
    background-color: rgb(243, 226, 226);
    color: #644E5B;
}

.img-interests {
    margin-top: 10px;
}

.img-interest {
    height: 140px;
    width: 140px;
    margin: 0;
    padding: 0;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

.img-interest:hover {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

.fa {
    width: 140px;
    text-align: center;
    text-decoration: none;
    padding: 40px 0px;
  }
  
.fa:hover {
      opacity: 0.7;
}

.fa-instagram {
    background: #9E5A63;
    color: white;
}